
<!--Header -->
<header class="header">

    <!-- menu -->
    <div class="top-menu">
        <ul>
            <li class="active">
                <a href="/">
                    <span class="icon fa fa-home"></span>
                    <span class="link">Home</span>
                </a>
            </li>
            <li>
                <a href="/about/">
                    <span class="icon fa fa-user"></span>
                    <span class="link">About</span>
                </a>
            </li>
            <li>
                <a href="/resume/">
                    <span class="icon fa fa-certificate"></span>
                    <span class="link">Resume</span>
                </a>
            </li>
            <li>
                <a href="/projects/">
                    <span class="icon fa fa-folder-open"></span>
                    <span class="link">Portfolio</span>
                </a>
            </li>

            <li>
                <a href="/blog/">
                    <span class="icon fa fa-comment-o"></span>
                    <span class="link">Blog</span>
                </a>
            </li>
            <li>
                <a href="/contacts/">
                    <span class="icon fa fa-envelope"></span>
                    <span class="link">Contacts</span>
                </a>
            </li>
        </ul>
    </div>


    <!-- Mobile Menu -->
    <span class="menu-btn">
        <span class="m-line"></span>
    </span>

</header>