{% extends 'base.html' %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

{% block header %}

{% include 'home/menu.html' %}

{% endblock %}

{% block content %}

<div class="card-inner active" id="works-card">
    <div class="row card-container">
        
        <!--
            Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

            <!-- Work Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url(images/profile3.jpg);"></div>

            <!--
                Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">Portfolio</div>
                    </div>
                </div>
            </div>

            <!--
                Works
            -->
            <div class="content works">
                <div class="row">
                    <div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">

                        <!-- title -->
                        <div class="title"><a href="#popup-1" class="name has-popup-media"><span>{{ page.title }} App </span><u>Overview</u></a></div>

                        <div id="popup-1" class="popup-box mfp-fade mfp-hide">
                            <div class="content">
                                {% with page.main_image as main_image %}
                                {% if main_image %}
                                <div class="image">
                                    {% image main_image fill-800x375 %}
                                </div>
                                {% endif %}
                                {% endwith %}
                                <div class="desc">
                                    <div class="post-box">
                                        <h1>{{ post.title }}</h1>                     
                                        <div class="blog-detail">Photo</div>
                                        <div class="blog-content">
                                            <p>
                                                {{ page.intro|richtext }}
                                            </p>
                                            <blockquote>
                                                {{ page.outcome|richtext }}
                                            </blockquote>
                                            <p>
                                              {{ page.description|richtext }}
                                            </p>
                                        </div>              
                                            <a href="{{ page.related_link }}"class="button">
                                            <span class="text"> View Project </span>
                                            <span class="arrow">{{ page.related_link_name }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">
                        <!-- filters -->
                    </div>

                </div>
                <!-- work items -->
                <div class="row grid-items">
                    {% for post in projectsections %}
                    {% with post=post.specific %}  
                    <!-- work item photo -->
                    {% with post.main_image as main_image %}
                    {% if main_image %}
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6 grid-item design">
                        <div class="box-item card-box">
                            <div class="image">
                                <a href="{{ post.related_link }}" class="">
                                    {% image main_image fill-800x375 %}
                                     <span class="info">
                                        <span class="icon fa fa-gear"></span>
                                    </span> 
                                </a>
                            </div>
                            <div class="desc">
                                <a href="{{ post.related_link }}" class="name ">{{ post.title }}</a>
                                <div class="category">{{ post.related_link_name }}</div>
                            </div>  
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}